@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-table/dist/table.scss';
@import '@axa-fr/react-toolkit-table/dist/Paging/paging.scss';
@import '@axa-fr/react-toolkit-table/dist/Pager/pager.scss';
@import '@axa-fr/react-toolkit-form-input-select/dist/select.scss';
@import '@axa-fr/react-toolkit-form-input-date/dist/datepicker.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '@axa-fr/react-toolkit-panel/dist/panel.scss';
@import '@axa-fr/react-toolkit-loader/dist/spinner.scss';
@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Title/title-bar.scss';
@import '@axa-fr/react-toolkit-form-input-file/dist/file.scss';
@import '@axa-fr/react-toolkit-form-input-file/dist/filebrowser.scss';

.af-title-bar {
  &--backhome {
    .af-title-bar {
      &__wrapper {
        justify-content: flex-start;
        .af-title-bar__title {
          margin-left: 1em;
        }
      }
    }
  }
  &--hasstepper {
    margin-bottom: 0;
  }
}

textarea {
  overflow: auto;
  resize: both;
  width: 100%;
  height: 30em;
}
